{% extends "base.html.jinja2" %}
{% block content %}
<div class="row">
    <h4> Spot check jobs </h4>
</div>
{% for job in spot_check_jobs %}
<div class="row">
    <a href="/spot_check?id={{job.id}}"> {{job.description}} </a>
</div>
{% endfor %}
{% endblock %}
